html, body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
main{
    margin-bottom: 30px;
}

header.documentation-header, main, footer {
    padding-left: 300px;
  }
/* .brand-logo{
    margin: 10px 0 0 10px;
    width:50px;
} */

.center-flex{
    display: flex;
    justify-content:center;
}
.center-flex a{
    margin:0 10px 0 10px;
}
.side-form{
    display: block;
    width:100%;
}
.doc-nav{
    position: fixed;
}
.brand-img{
    margin: 10px 0 0 10px;
    width:50px;
}
.move-out{
    /* margin-left:-200px; */
    margin-left:500px !important;
}
.clearfix{
    clear: both;
}
.section-heading{
    font-size: 1.17rem !important;
    font-weight: 600;
    color: #2c3e50;
}
.section-child{
    font-size: 1rem !important;
    color: #7f8c8d ;
    /* margin: 2px; */
}
.collapsible-header{
    padding-left:0 !important;
}
.collapsible-header:hover{
   background-color: #fff !important;
}
.section-child:hover{
    border-bottom: deeppink 2px solid;
}
.section-title{
    font-size: 1.7rem;
    font-weight: 600;
    color: #2c3e50;
}
.section-title-2{
    font-size: 2rem;
    font-weight: 600;
    color:#fff;
}
.highlight{
    color:rgb(237, 47, 89);
    font-weight: 600;
}
.done{
    color: rgb(237, 47, 89);
}
.code{
    width:100%;
    margin:0 auto;
}
.home-code{
   font-size: 1rem;
}
.stable-img{
    width:100%;
}
.max-width{
    width:110px;
}
.hr-style {
    margin:0 auto;
    width:20px;
    height: 2px;
    background: rgb(237, 47, 89);
}
.small{
    width:100px;
    height:100px;
}
.showcase-img{
   width: 150px;
}
.codefii{
    margin-top: -25px;
}
.section-spacing{
    padding: 60px 0 60px 0;
}
.section-spacing-2{
    padding: 15px 0 30px 0;
}
.slogan{
    font-family: 'Thasadith', sans-serif !important;
    font-size: 1.5rem;
    font-weight: bolder;
}

.nav-wrapper li a:hover{
    background: #fff !important;
   border-bottom: 3px solid rgb(237, 47, 89) !important;
}
.home{
    padding:30px 0 50px 0;
}
.spacing{
    margin:0 0 15px 0;
}
.spacing-2{
    padding: 20px 0 5px 0;
}
.showcase-area{
    padding:20px 0 0 0;
    margin-bottom: 50px;

}
.btn{
    border-radius: 5000px;
}

 .size {
     margin: 0 auto;
    max-width: 600px;
  
 }

 .medium {
     font-size:large;
     font-weight: 500;
 }

  .size img{
    width:100%;
 }
 .codefii-color{
     background: rgb(237, 47, 89) !important;
 }

 .codefii-color:hover{
     background: rgba(237, 47, 89, 0.9) !important;
 }
 .codefii-color:active{
     background: rgba(237, 47, 89, 0.9) !important;
 }

 footer{
     padding: 20px;
 }
 .footer-img{
     width:40px;
     float:right;
 }

 /* input color */
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(237, 47, 89) !important;
    box-shadow: 0 1px 0 0 rgb(237, 47, 89) !important;
  }
    
.card-panel{
    background: rgba(237, 47, 89, 0.7) !important;
    border-left: rgb(237, 47, 89) 5px solid;
}

@media (min-width:770px){
    .code{
        width:60%;
        margin:0 auto;
    }
    .home-code{
        font-size: 1.5rem;
     }

     .slogan{
       
        font-size: 2.5rem;
     }

    
}
  @media only screen and (max-width : 992px) {
    header.documentation-header, main, footer {
      padding-left: 0;
    }
  }